* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #efefef;
    z-index: 1;
    transition: top 0.3s;
}

#header.hidden {
    top: -100px;
}

.header-img {
    margin-right: auto; 
}

.header-logo {
    height: 70px;
    padding-left: 20px;
}

#nav-css, .subnav-css {
    list-style-type: none;
}

/* #nav {
    margin-top: 17px;
} */

#nav-css li {
    position: relative;
}

#nav-css .subnav-css {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(127, 127, 127);
}

#nav-css li:hover .subnav-css {
    display: block;
}
#nav-css .subnav-css a {
    min-width: 140px;
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav-css > li {
    display: inline-block;
    /* margin-bottom: 0 !important; */
}

#nav-css {
    margin-bottom: 0;
}


#nav-css > li > a {
    color: black;
    text-transform: uppercase;
}

#nav-css li a {
    text-decoration: none;
    line-height: 70px;
    padding: 0 24px;
    display: block;
}

#nav-css > li:hover > a,
#nav-css .subnav-css li:hover a {
    background-color: rgb(204, 204, 204);
}

#infor {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center; /* căn giữa các đối tượng con theo trục ngang */
    margin-left: auto;
    gap: 20px; /* khoảng cách giữa các đối tượng con */
    padding-right: 20px;
} 

.infor-search {
    padding: 22px 0;
}

.icon-search {
    font-size: 20px;
    padding: 5px;
    background-color: #cdcdcd;
    color: black;
    border-radius: 10%;
}

.icon-search:hover {
    cursor: pointer;
}

.icon-search:active {
    background-color: #a49b9b;
}

.infor-user, .infor-bag {
    font-size: 28px;
    cursor: pointer;
}

.txt-search {
    height: 32px;
    text-indent: 10px;
    border: none;
    background-color: #efefef;
    border-radius: 5%;
}

.txt-search:focus {
    outline: none;
}

#slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
.slider-wrapper {
    margin-top: 70px;
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.slider img {
    width: 100%;
    height: auto;
    display: inline-block;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.radio-buttons label {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}
  
.radio-buttons label span {
    display: none;
}
  
.radio-buttons label input[type="radio"]:checked + span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}
  
#slider-container {
    margin-left: 0;
}

.slider-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
}
  
.slider-controls label {
    display: block;
    margin: 0 10px;
    cursor: pointer;
}
  
.slider-controls input[type="radio"] {
    display: none;
}
  
.slider-controls input[type="radio"] + span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 5px;
    vertical-align: middle;
}
  
.slider-controls input[type="radio"]:checked + span {
    background-color: #333;
}

/* begin content */
/* .table-scroll {
    height: 100px;
    overflow-y: auto;
}
   */

   .scrollable-table {
    height: 200px;
    overflow-y: scroll;
  }
  
/* end content */

/*begin footer */

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    margin: 20px 0px;
}

#footer {
    background-color: #2e2100;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer .container {
    display: flex;
    justify-content: center;
}

.service a {
    text-decoration: none;
}

#footer .top-contact {
    text-transform: uppercase;
    font-size: 24px;
    color: #e6f0ff;
    margin-bottom: 20px;
}

#footer .Contact-list-text li a {
    color: #bfbcb2;
    line-height: 1.6;
    text-decoration: none;
}

#footer li {
    list-style-type: none;
}
.content-introduce {
    color: #bfbcb2;
    line-height: 1.6;
}
.click-effect > li:hover a {
    text-decoration: underline;
}

.footer-list-info .contact .icon-contact {
    margin-top: 18px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-list-info .contact .icon-contact a {
    padding: 4px;
    text-decoration: none;
    color: #e6f0ff;
}

.footer-list-info .contact .icon-contact li {
    list-style-type: none;
}

.footer-list-info .contact .icon-contact a:hover {
    background-color: #000;
}

.footer-list-info .contact {
    width: 23%;
}

.footer-list-info .service {
    width: 25%;
}

.footer-list-info .attribute {
    width: 20%;
}

.footer-list-info .introduce {
    width: 25%;
}

#footer .footer-text {
    border-top: 1px solid #59554b;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e6f0ff;
}

.footer-text > h4 {
    font-size: 20px;
    font-weight: 600;
}
.footer-text p {
    font-size: 18px;
    font-weight: 400;
}
/*End footer */
.modal-css.open {
    display: flex;
}

.modal-css {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-container {
    max-width: 400px;
    background: rgba(255, 255, 255, 1);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.8);
    position: relative;
    animation: modalFadeIn ease 0.6s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    padding: 12px;
    cursor: pointer;
    opacity: 0.4;
}

.modal-close:hover {
    opacity: 1;
}

.form-heading {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.form-group-css {
    border-bottom: 1px solid black;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    flex-grow: 1;
    font-size: 20px;
}

.form-input::placeholder {
    color: black;
}

.form-submit {
        background: transparent;
        border: 1px solid black;
        color: black;
        width: 100%;
        text-transform: uppercase;
        padding: 6px 10px;
        transition: 0.25s ease-in-out;
        margin-top: 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .form-group-css-i {
        color: black;
        font-size: 18px;
        padding-right: 10px;
    }

    .form-submit:hover {
        border: 1px solid #54a0ff;
    } 

.contact-login {
    margin-top: 20px;
}
    
.contact-login p {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.modal-login .icon-contact {
    text-align: center;
    margin-top: 20px;
}

.modal-login .icon-contact i {
    background-color: black;
    color: #000;
    padding: 5px;
}

.modal-login .icon-contact li {
    display: inline-block;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
}

.icon-facebook {
    background-color: #2d7cf6;
}
.icon-facebook:hover {
    background: #4d8eef;
}

.icon-instagram {
    background-color: #af318d;
}

.icon-instagram:hover {
    background: #b63f96;
}

.modal-login .icon-contact li i {
    background: transparent;
}

.modal-login .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    margin-top: 10px;
}

.modal-login .contact-login a{
    text-decoration: none;
    color: black;
}

.modal-login .modal-footer a {
    text-decoration: none;
} 

.contact-login .icon-mxh {
    color: #54a0ff;
}

.modal-login .register-request {
    margin-left: 10px;
    color: blue;
    margin-bottom: 8px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

